@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0 auto;  
    font-family: 'Open Sans', sans-serif;
}
.row{
    display: flex;
    height: 520px;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}
.column-2{
    width: 45%;
    text-align: center;
    padding-top: 50px;
}
.column-3{
    width: 33.3%;
    background-color: chocolate;
}
/*estilos header*/
header {
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex;
    justify-content: center;
    height: 60vh;
    position: relative;
    font-size: 70px;
}
header:after{
    content: "";
    clip-path: polygon(0 100%,100% 100%,0 0);
    background:rgb(255, 255, 255);
    height: 60px;
    width: 100%;
    position: absolute;
        bottom: -1px;
        z-index: 1;
}