<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/style.juego.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="img/logo.png" type="image/png">
        <title>Dead Island 2</title>
    </head>
<body>
    <div class="header" style="background-image: url(../img/banner/rust.jpg);">

    </div>
    <br>
    <div class="row">
        <div class="column-2">
            <iframe width="560" height="300" src="https://www.youtube.com/embed/AWFaj4IQ4ro?autoplay=1&mute=1&loop=1" frameborder="0" allowfullscreen style="border-radius: 10px;"></iframe>
        </div>
        <div class="column-2">
            <h1>Dead Island 2</h1>
            <h2>✅En stock | ✅Descarga digital</h2>
            <h1>55.49€</h1>
            <br>
            <a href="#">Comprar ahora</a>
        </div>
    </div>
    <div class="row">
        <div class="column-2">
        <h1>Acerca del Juego</h1>
        <p>Vuelve la apreciada saga de zombis con una mezcla única de terror, humor negro y matanza de zombis desmesurada que narra una épica aventura al más puro estilo de serie B. 
            Dead Island 2 es un juego de rol y acción en primera persona, vibrante y con mucho estilo, inundado de contaminación zombi. 
            Explora la emblemática ciudad de Los Ángeles, pero bañada en sangre. Conoce a personajes ambiciosos. </p>
        </div>
        <div class="column-2">
        <h1>Requisitos recomendados</h1>
            <ul>
                <li>Windows 10 64bit</li>
                <br>
                <li>Procesador: AMD Ryzen 5 5600X / Intel Core i9 9900K</li>
                <br>
                <li>Memoria RAM: 16 GB de RAM</li>
                <br>
                <li>Tarjeta gráfica: NVIDIA GeForce RTX 2070 Super / AMD Radeon RX 6600 XT</li>
                <br>
                <li>Tarjeta de Sonido: Compatible al 100% con DirectX 12.</li>
                <br>
                <li>Disco Duro: 70 GB disponibles</li>
            </ul>
        </div>
    </div>
    <br>
    <footer>
        <a href="../index.html">Volver</a>
    </footer>
    <br>
</body>
</html>