<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/style.juego.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="img/logo.png" type="image/png">
        <title>Call of duty Modern Warfare 2</title>
    </head>
<body>
    <div class="header" style="background-image: url(../img/banner/gtaV.jpg);">

    </div>
    <br>
    <div class="row">
        <div class="column-2">
            <iframe width="560" height="300" src="https://www.youtube.com/embed/QkkoHAzjnUs?autoplay=1&mute=1&loop=1" frameborder="0" allowfullscreen style="border-radius: 10px;"></iframe>
        </div>
        <div class="column-2">
            <h1>Gran Thief Auto V</h1>
            <h2>✅En stock | ✅Descarga digital</h2>
            <h1>10.49€</h1>
            <br>
            <br>
            <a href="#">Comprar ahora</a>
        </div>
    </div>
    <div class="row">
        <div class="column-2">
        <h1>Acerca del Juego</h1>
        <p>Gran Theft Auto V para PC es un juego de acción y aventuras, el quinto de la serie GTA. Como ya es tradición en los juegos de esta serie, 
        se obtienen puntos mediante la comisión de delitos. El juego alterna entre la narrativa visual y la jugabilidad en tercera y en primera persona. 
        El jugador toma el papel de tres criminales tratando de huir de una determinada agencia del gobierno y cometiendo asaltos.</p>
        </div>
        <div class="column-2">
        <h1>Requisitos recomendados</h1>
            <ul>
                <li>S.O.: Windows 8.1 64 Bit, Windows 8 64 Bit, Windows 7 64 Bit Service Pack 1, Windows Vista 64 Bit Service Pack 2* (* Se recomienda una tarjeta gráfica de NVIDIA para ejecutar el juego en Vista).</li>
                <br>
                <li>Procesador: Intel Core 2 Quad CPU Q6600 @ 2.40GHz (4 CPUs) / AMD Phenom 9850 Quad-Core Processor (4 CPUs) @ 2.5GHz.</li>
                <br>
                <li>Memoria RAM: 4GB</li>
                <br>
                <li>Tarjeta gráfica: NVIDIA 9800 GT 1GB / AMD HD 4870 1GB (DX 10, 10.1, 11).</li>
                <br>
                <li>Tarjeta de Sonido: Compatible al 100% con DirectX 10.</li>
                <br>
                <li>Disco Duro: 65GB libres.</li>
            </ul>
        </div>
    </div>
    <br>
    <footer>
        <a href="../index.html">Volver</a>
    </footer>
    <br>
</body>
</html>