<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/style.juego.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="img/logo.png" type="image/png">
        <title>Rust</title>
    </head>
<body>
    <div class="header" style="background-image: url(../img/banner/rust.jpg);">

    </div>
    <br>
    <div class="row">
        <div class="column-2">
            <iframe width="560" height="300" src="https://www.youtube.com/embed/LGcECozNXEw?autoplay=1&mute=1&loop=1" frameborder="0" allowfullscreen style="border-radius: 10px;"></iframe>
        </div>
        <div class="column-2">
            <h1>Rust</h1>
            <h2>✅En stock | ✅Descarga digital</h2>
            <h1>39,99€</h1>
            <br>
            <a href="#">Comprar ahora</a>
        </div>
    </div>
    <div class="row">
        <div class="column-2">
        <h1>Acerca del Juego</h1>
        <p>Rust para PC es un juego de supervivencia online exclusivamente multijugador.. Puede ser difícil para un principiante superar las primeras etapas del juego después de iniciarse, 
            porque no solo es el PvE habitual que se puede esperar de un juego de supervivencia, sino que es simultáneamente PvP: por lo que un novato desnudo, 
            armado solo con una piedra y una antorcha fácilmente podría encontrarse cara a cara con un jugador armado</p>
        </div>
        <div class="column-2">
        <h1>Requisitos recomendados</h1>
            <ul>
                <li>Windows 10 64bit</li>
                <br>
                <li>Procesador:  Intel Core i7-4790K / AMD Ryzen 5 1600</li>
                <br>
                <li>Memoria RAM: 16 GB de RAM</li>
                <br>
                <li>Tarjeta gráfica:  GTX 980 / AMD R9 Fury</li>
                <br>
                <li>Tarjeta de Sonido: Compatible al 100% con DirectX 12.</li>
                <br>
                <li>Disco Duro: 20 GB de espacio disponible</li>
            </ul>
        </div>
    </div>
    <br>
    <footer>
        <a href="../index.html">Volver</a>
    </footer>
    <br>
</body>
</html>