<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/style.juego.css" rel="stylesheet" type="text/css">
        <link rel="icon" href="img/logo.png" type="image/png">
        <title>Tom Clancy Reinbow Six Siege</title>
    </head>
<body>
    <div class="header" style="background-image: url(../img/banner/r6.jpg);">

    </div>
    <br>
    <div class="row">
        <div class="column-2">
            <iframe width="560" height="300" src="https://www.youtube.com/embed/ZH0VC-MTAzE?autoplay=1&mute=1&loop=1" frameborder="0" allowfullscreen style="border-radius: 10px;"></iframe>
        </div>        
        <div class="column-2">
            <h1>Tom Clancy Reinbow Six Siege</h1>
            <h2>✅En stock | ✅Descarga digital</h2>
            <h1>7.23€</h1>
            <br>
            <a href="#">Comprar ahora</a>
        </div>
    </div>
    <div class="row">
        <div class="column-2">
        <h1>Acerca del Juego</h1>
        <p>Rainbow Six Siege para PC es un shooter táctico en línea. En este juego hay un fuerte énfasis en la destrucción del entorno y la cooperación entre jugadores. 
            Cada jugador debe asumir el control de un personaje para defender o atacar en las distintas modalidades. 
            Estas incluyen el rescate de rehenes, la desactivación de bombas y la captura o defensa de un punto de control.</p>
        </div>
        <div class="column-2">
        <h1>Requisitos recomendados</h1>
            <ul>
                <li>Versión de 64 bits de los siguientes sistemas operativos: Windows 7 SP1 / Windows 8 / Windows 8.1 / Windows 10</li>
                <br>
                <li>Procesador: Intel Core i5-2500K @ 3.3 GHz o AMD FX-8120 @ 3.1 GHz</li>
                <br>
                <li>Memoria RAM: 8GB</li>
                <br>
                <li>Tarjeta gráfica: Nvidia GeForce GTX 670 o AMD Radeon HD7970 / R9 280X o superior (2048 MB VRAM)</li>
                <br>
                <li>Mando: Compatible con X-input.</li>
                <br>
                <li>Disco Duro: 50 GB de espacio disponible</li>
            </ul>
        </div>
    </div>
    <br>
    <footer>
        <a href="../index.html">Volver</a>
    </footer>
    <br>
</body>
</html>